<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <%= render '/refinery/head' %>
  <body>
    <div class="slideshow">
      <!-- preload images -->
<%= image_tag 'bg03.jpg', class: '' %>
<%= image_tag 'bg03.jpg', class: '' %>
<%= image_tag 'bg03.jpg', class: '' %>
    </div>
    <%#= site_bar -%>
    <%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>


<div class="container">
  <div id="clocks">
    <canvas id="nlclock" class="CoolClock:dutch:50::2"></canvas>
    <canvas id="sclock" class="CoolClock:dutch:50::-2"></canvas>
  </div>
    <div class="header">     
      <%= render '/refinery/header' -%>
    </div>
    <div class="content">
      <% if flash[:notice] %>
      <div id="the_flash">
        <%= flash[:notice] %><%= render :partial => 'shared/blind_effect' %>
      </div>
      <% end %>
      <% if flash[:error] %>
        <div id="the_flash" >
          <div class="error">
            <%= flash[:error] %><%= render :partial => 'shared/blind_effect' %>
          </div>
        </div>
      <% end %>
      <%= yield  %>
      <!---->
      <br style="clear:both;" />
    </div>
      
    <div class="footer">
      <span style="width: 700px;">
       <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.villa-bonaire.nl%2F&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21&amp;locale=en_US" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe>
        <a data-count="horizontal" class="twitter-share-button" href="http://twitter.com/share">Tweet</a>
        <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
        <iframe frameborder="0" scrolling="no" src="http://www.hyves.nl/respect/button?url=www.villa-bonaire.nl" style="border: medium none; overflow:hidden; width:150px; height:21px;" allowtransparency="true"></iframe>
      </span>
      <%= render '/refinery/footer' -%>
    </div>
    <%#= render '/refinery/javascripts' %>
  </body>
</html>
